.alert {
  position: relative;
  width: 100%;
  background: rgb(var(--col-bg-card));

  &:before,
  &:after {
    background: rgb(var(--grey));
    border-radius: 25px;
    content: " ";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 120%;
    position: absolute;
    top: -10%;
    z-index: 1;
  }

  &:before {
    left: 0;
  }

  &:after {
    background: rgb(var(--grey));
    right: 0;
    // TODO: re-enable this; this trick doesn't work if there is a gradient on the background. hmm.
    // animation: slide-right var(--slide-right-duration) cubic-bezier(0.27, 1.1, 0.25, 1);
    // background: linear-gradient(90deg, rgb(var(--grey)) 20px, rgb(var(--col-bg-default)) 0, rgb(var(--col-bg-default)) 100%);
    // padding-right: 100%;
    // right: -100%;
    // --slide-right-duration: 1.5s;
    // @media (prefers-reduced-motion) {
    //  --slide-right-duration: 0s;
    // }
  }

  &--important {
    &:before {
      content: "!";
    }
  }

  &--question {
    &:before {
      content: "?";
    }
  }

  &--info {
    &:before {
      content: "📓";
    }
  }
}
