.card {
  background: rgba(var(--col-bg-card), var(--alpha));
  border-radius: 16px;
  picture {
    width: 100%;
    aspect-ratio: 16/9;
    overflow-y: hidden;
    display: flex;
    img {
      height: auto;
      width: 100%;
      object-fit: cover;
    }
  }
}
