.card {
  background: rgba(var(--col-bg-card), var(--alpha));
  border-radius: 16px;

  &__image-container {
    width: 100%;
    aspect-ratio: 16/9;
    overflow-y: hidden;
    display: flex;
  }

  &__image {
    height: auto;
    width: 100%;
    object-fit: cover;
  }
}
