@import url("https://fonts.googleapis.com/css?family=Fondamento&display=optional");

@mixin font-fondamento {
  font-family: "Fondamento", sans-serif;
  font-size: 16px;
  font-display: optional;
}

.fondamento {
  @include font-fondamento;
}
