@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

@mixin font-lucky {
  font-family: "Luckiest Guy", serif;
  font-size: 16px;
  font-display: swap;
}

.lucky {
  @include font-lucky;
}
