.alpha {
  @each $i in $percentages {
    &-#{$i} {
      --alpha: calc(#{$i} / 100) !important;
    }
  }
}

.border {
  &-radius {
    &-0 {
      border-radius: 0;
    }
  }
}

.height {
  @each $i in $spacing {
    &-#{$i} {
      height: #{$i}px !important;
    }
    @for $i from 55 through 500 {
      $rounded: floor(calc($i / 5)) * 5;
      @if $rounded == $i {
        &-#{$rounded} {
          height: #{$rounded}px !important;
        }
      }
    }
  }
  &-min {
    @each $i in $spacing {
      &-#{$i} {
        min-height: #{$i}px !important;
      }
    }
    @for $i from 55 through 500 {
      $rounded: floor(calc($i / 5)) * 5;
      @if $rounded == $i {
        &-#{$rounded} {
          min-height: #{$rounded}px !important;
        }
      }
    }
  }
}

.hide {
  display: none !important;
}

.font-size {
  $sizes: (8, 10, 12, 14, 16, 18, 20, 24, 32, 72);
  @each $i in $sizes {
    &-#{$i} {
      font-size: #{$i}px !important;
    }
  }
}

.flex {
  display: flex;
  &-row {
    flex-direction: row;
    &--centered {
      justify-content: center;
      align-items: center;
    }
    &--space-between {
      justify-content: space-between;
      align-items: center;
    }
  }
  &-column {
    flex-direction: column;
  }
  &-gap {
    @each $i in $spacing {
      &-#{$i} {
        gap: #{$i}px !important;
      }
    }
  }
}

.margin {
  @each $i in $spacing {
    &-#{$i} {
      margin: #{$i}px !important;
    }
  }
  $edges: (top, bottom, left, right);
  @each $e in $edges {
    &-#{$e} {
      @each $i in $spacing {
        &-#{$i} {
          margin-#{$e}: #{$i}px !important;
        }
      }
    }
  }
  &-tb {
    @each $i in $spacing {
      &-#{$i} {
        margin-top: #{$i}px !important;
        margin-bottom: #{$i}px !important;
      }
    }
  }
  &-lr {
    @each $i in $spacing {
      &-#{$i} {
        margin-left: #{$i}px !important;
        margin-right: #{$i}px !important;
      }
    }
  }
}

.overflow {
  &-x {
    &--hidden {
      overflow-x: hidden !important;
    }
  }
}

.padding {
  @each $i in $spacing {
    &-#{$i} {
      padding: #{$i}px !important;
    }
  }
  $edges: (top, bottom, left, right);
  @each $e in $edges {
    &-#{$e} {
      @each $i in $spacing {
        &-#{$i} {
          padding-#{$e}: #{$i}px !important;
        }
      }
    }
  }
  &-tb {
    @each $i in $spacing {
      &-#{$i} {
        padding-top: #{$i}px !important;
        padding-bottom: #{$i}px !important;
      }
    }
  }
  &-lr {
    @each $i in $spacing {
      &-#{$i} {
        padding-left: #{$i}px !important;
        padding-right: #{$i}px !important;
      }
    }
  }
}

.shadow {
  @include shadow;
}

.text-align {
  &--center {
    text-align: center;
  }
}

.width {
  &-100 {
    width: 100%;
  }
}
