@function shade($shadeCode, $amount) {
  @return hsl(
    var(--#{$shadeCode}_h),
    var(--#{$shadeCode}_s),
    calc(#{var(--#{$shadeCode}_l)} + #{$amount})
  );
}

$percentages: (0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100);
$spacing: (0, 5, 8, 10, 12, 15, 16, 18, 20, 25, 30, 35, 40, 45, 50);

:host,
body {
  // animations
  --animation-spring: cubic-bezier(0.27, 1.1, 0.25, 1);
  --animation-duration: 0.5s;
  --animation-duration--jittery: 0.5s;
  --animation-duration--twitchy: 10s;
  @media (prefers-reduced-motion) {
    --animation-duration--jittery: 30s;
  }

  // colours
  --colour-black: 20, 20, 20;
  --colour-black-light: 29, 30, 34;
  --colour-blue-stratos: 4, 1, 60; // #04013C
  --colour-blue-arapawa: 9, 9, 121; // #090979
  --colour-blue-light: 237, 253, 253;
  --colour-blue-neon: 7, 0, 184;
  --colour-blue-neon_h: 242;
  --colour-blue-neon_s: 100%;
  --colour-blue-neon_l: 36.1%;
  --colour-grey: 217, 217, 217;
  --colour-grey-cod: 17, 17, 17; // #111
  --colour-grey-dark: 33, 33, 33;
  --colour-grey-light: 150, 150, 150;
  --colour-grey-tundora: 73, 73, 73; // #494949
  --colour-green-neon: 0, 255, 136;
  --colour-purple: 131, 58, 180;
  --colour-purple_h: 276;
  --colour-purple_s: 51%;
  --colour-purple_l: 47%;
  --colour-orange: 253, 29, 29;
  --colour-orange-light: 254, 240, 239;
  --colour-white: 255, 255, 255; // #FFF
  --colour-white-rose: 255, 250, 250; // #FFFAFA
  --colour-yellow: 252, 176, 69;

  --gradient-neon-blue-green: linear-gradient(
    0deg,
    #{shade("colour-blue-neon", 25%)} 0%,
    rgb(var(--colour-green-neon)) 100%
  );

  --gradient-purple-orange: linear-gradient(
    0deg,
    #{shade("purple", 5%)} 0%,
    rgb(var(--colour-orange)) 50%,
    rgb(var(--colour-yellow)) 100%
  );

  // dimensions
  --dp: 16px;
  --height-header: 35px;

  // modifiers
  --shadow-x: 0px;
  --shadow-x-mod: 0px;
  --shadow-y: 0px;
  --shadow-y-mod: 0px;
  --shadow-blur-radius: 5px;
  --shadow-blur-radius-mod: 0px;
  --shadow-spread-radius: 2px;
  --shadow-spread-radius-mod: 0px;
  --z-index-header: 1000;
}
