body.light-mode {
  --col-fg-default: var(--dark-grey);
  --col-bg-default: var(--white);
  --col-bg-opposite: var(--black);
  --col-bg-highlight: var(--yellow);
  --col-bg-card: var(--light-orange);
  --col-gradient: var(--gradient-purple-orange);
  --col-gradient-fallback: var(--purple);
  --col-shadow: var(--light-grey);
  --col-img-filter: sepia(75%);
  --col-fg-primary: var(--orange);
  --col-fg-secondary: var(--purple);
}

@media (prefers-color-scheme: light) {
  :host,
  body {
    --col-fg-default: var(--dark-grey);
    --col-bg-default: var(--white);
    --col-bg-opposite: var(--black);
    --col-bg-highlight: var(--yellow);
    --col-bg-card: var(--light-orange);
    --col-gradient: var(--gradient-purple-orange);
    --col-gradient-fallback: var(--purple);
    --col-shadow: var(--light-grey);
    --col-img-filter: sepia(75%);
    --col-fg-primary: var(--orange);
    --col-fg-secondary: var(--purple);
  }
}

body.dark-mode {
  --col-fg-default: var(--grey);
  --col-bg-default: var(--black);
  --col-bg-opposite: var(--white);
  --col-bg-highlight: var(--neon-green);
  --col-bg-card: var(--light-black);
  --col-gradient: var(--gradient-neon-blue-green);
  --col-gradient-fallback: var(--neon-blue);
  --col-shadow: var(--white);
  --col-img-filter: grayscale(75%);
  --col-fg-primary: var(--neon-blue);
  --col-fg-secondary: var(--neon-green);
}

@media (prefers-color-scheme: dark) {
  :host,
  body {
    --col-fg-default: var(--grey);
    --col-bg-default: var(--black);
    --col-bg-opposite: var(--white);
    --col-bg-highlight: var(--neon-green);
    --col-bg-card: var(--light-black);
    --col-gradient: var(--gradient-neon-blue-green);
    --col-gradient-fallback: var(--neon-blue);
    --col-shadow: var(--white);
    --col-img-filter: grayscale(75%);
    --col-fg-primary: var(--neon-blue);
    --col-fg-secondary: var(--neon-green);
  }
}
