@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans&display=swap');

@mixin font-bubblegum {
  font-family: "Bubblegum Sans", sans-serif;
  font-size: 16px;
  font-display: swap;
  line-height: 1;
}

.bubblegum {
  @include font-bubblegum();
}
