@import url('https://fonts.googleapis.com/css?family=Fondamento&display=swap');

@mixin font-fondamento {
  font-family: "Fondamento", sans-serif;
  font-size: 16px;
  font-display: swap;
}

.fondamento {
  @include font-fondamento;
}
