:host,
body {
  --dp: 16px;
  --white: 255, 255, 255;
  --grey: 217, 217, 217;
  --dark-grey: 33, 33, 33;
  --black: 0, 0, 0;
  --neon-blue: 7, 0, 184;
  --neon-green: 0, 255, 136;
  --gradient-neon-blue-green: linear-gradient(
    0deg,
    rgb(var(--neon-blue)) 0%,
    rgb(var(--neon-green)) 100%
  );
  --purple: 131, 58, 180;
  --orange: 253, 29, 29;
  --yellow: 252, 176, 69;
  --gradient-purple-orange: linear-gradient(
    0deg,
    rgb(var(--purple)) 0%,
    rgb(var(--orange)) 50%,
    rgb(var(--yellow)) 100%
  );
  transition: background-color 0.5s ease;
}

@media (prefers-color-scheme: dark) {
  :host,
  body {
    --col-fg-default: var(--grey);
    --col-bg-default: var(--black);
    --col-gradient: var(--gradient-neon-blue-green);
    --col-gradient-fallback: var(--neon-blue);
  }
}

@media (prefers-color-scheme: light) {
  :host,
  body {
    --col-fg-default: var(--dark-grey);
    --col-bg-default: var(--white);
    --col-gradient: var(--gradient-purple-orange);
    --col-gradient-fallback: var(--purple);
  }
}

body.light-mode {
  --col-fg-default: var(--dark-grey);
  --col-bg-default: var(--white);
  --col-gradient: var(--gradient-purple-orange);
  --col-gradient-fallback: var(--purple);
}

body.dark-mode {
  --col-fg-default: var(--grey);
  --col-bg-default: var(--black);
  --col-gradient: var(--gradient-neon-blue-green);
  --col-gradient-fallback: var(--neon-blue);
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span,
code,
button,
abbr {
  color: rgba(var(--col-fg-default));
  font-family: helvetica, sans-serif;
}

abbr {
  text-decoration: unset;
}

body {
  height: calc(100vh - var(--dp));
  width: calc(100vw - 50%);
  margin: 0;
  padding-top: var(--dp);
  padding-left: 25%;
  padding-right: 25%;
  background-color: rgba(var(--col-bg-default));
}

@media only screen and (max-width: 600px) {
  body {
    width: calc(100vw - (var(--dp) * 2));
    padding-left: var(--dp);
    padding-right: var(--dp);
  }
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

.gradient {
  background-color: var(--col-gradient-fallback);
  background: var(--col-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.silly {
  font-family: "Brush Script MT", cursive;
}

.DarkmodeToggle__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
