.transform {
  &-hover {
    &--pop-up {
      --direction: 5px;
      transition: all var(--animation-duration) var(--animation-spring);
      &:hover {
        --shadow-y-mod: 3px;
        --shadow-blur-radius-mod: 3px;
        transform: translateY(calc(0px - var(--direction)));
        @media (prefers-reduced-motion) {
          transform: none;
        }
      }
    }
  }
}
