.flex {
  display: flex;
  &-row {
    flex-direction: row;
    &--centered {
      justify-content: center;
      align-items: center;
    }
    &--space-between {
      justify-content: space-between;
    }
  }
  &-column {
    flex-direction: column;
  }
  &-gap {
    @each $i in $spacing {
      &-#{$i} {
        gap: #{$i}px !important;
      }
    }
  }
}
