@import "./_variables.scss";

body.light-mode {
  --col-fg-default: var(--dark-grey);
  --col-bg-default: var(--white);
  --col-bg-opposite: var(--black);
  --col-bg-highlight: var(--yellow);
  --col-bg-card: var(--light-orange);
  --col-gradient: var(--gradient-purple-orange);
  --col-gradient-fallback: var(--purple);
  --col-shadow: var(--light-grey);
  --col-img-filter: sepia(75%);
  --col-fg-primary: var(--orange);
  --col-fg-secondary: var(--purple);
}

@media (prefers-color-scheme: light) {
  :host,
  body {
    --col-fg-default: var(--dark-grey);
    --col-bg-default: var(--white);
    --col-bg-opposite: var(--black);
    --col-bg-highlight: var(--yellow);
    --col-bg-card: var(--light-orange);
    --col-gradient: var(--gradient-purple-orange);
    --col-gradient-fallback: var(--purple);
    --col-shadow: var(--light-grey);
    --col-img-filter: sepia(75%);
    --col-fg-primary: var(--orange);
    --col-fg-secondary: var(--purple);
  }
}

body.dark-mode {
  --col-fg-default: var(--grey);
  --col-bg-default: var(--black);
  --col-bg-opposite: var(--white);
  --col-bg-highlight: var(--neon-green);
  --col-bg-card: var(--light-black);
  --col-gradient: var(--gradient-neon-blue-green);
  --col-gradient-fallback: var(--neon-blue);
  --col-shadow: var(--white);
  --col-img-filter: grayscale(75%);
  --col-fg-primary: var(--neon-blue);
  --col-fg-secondary: var(--neon-green);
}

@media (prefers-color-scheme: dark) {
  :host,
  body {
    --col-fg-default: var(--grey);
    --col-bg-default: var(--black);
    --col-bg-opposite: var(--white);
    --col-bg-highlight: var(--neon-green);
    --col-bg-card: var(--light-black);
    --col-gradient: var(--gradient-neon-blue-green);
    --col-gradient-fallback: var(--neon-blue);
    --col-shadow: var(--white);
    --col-img-filter: grayscale(75%);
    --col-fg-primary: var(--neon-blue);
    --col-fg-secondary: var(--neon-green);
  }
}

body {
  min-height: calc(100vh - calc(var(--dp) * 2));
  position: relative;
  background-color: rgba(var(--col-bg-default));
  color: rgba(var(--col-fg-default));
  &.background-transition {
    transition: background-color 0.5s ease;
  }
  &:before {
    content: '';
    background: conic-gradient(from 180deg at 50% 50%, rgb(var(--col-fg-primary)) 0deg,rgb(var(--col-bg-highlight)) 180deg);
    width: 100%;
    height: 75px;
    mix-blend-mode: normal;
    filter: blur(200px);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }
}
