@import "./_variables.scss";

body.light-mode {
  --col-fg-default: var(--dark-grey);
  --col-bg-default: var(--white);
  --col-bg-card: var(--light-orange);
  --col-gradient: var(--gradient-purple-orange);
  --col-gradient-fallback: var(--purple);
  --col-shadow: var(--light-grey);
  --col-img-filter: sepia(75%);
  --col-fg-primary: var(--orange);
  --col-fg-secondary: var(--purple);
}

@media (prefers-color-scheme: light) {
  :host,
  body {
    --col-fg-default: var(--dark-grey);
    --col-bg-default: var(--white);
    --col-bg-card: var(--light-orange);
    --col-gradient: var(--gradient-purple-orange);
    --col-gradient-fallback: var(--purple);
    --col-shadow: var(--light-grey);
    --col-img-filter: sepia(75%);
    --col-fg-primary: var(--orange);
    --col-fg-secondary: var(--purple);
  }
}

body.dark-mode {
  --col-fg-default: var(--grey);
  --col-bg-default: var(--black);
  --col-bg-card: var(--light-black);
  --col-gradient: var(--gradient-neon-blue-green);
  --col-gradient-fallback: var(--neon-blue);
  --col-shadow: var(--white);
  --col-img-filter: grayscale(75%);
  --col-fg-primary: var(--neon-blue);
  --col-fg-secondary: var(--neon-green);
}

@media (prefers-color-scheme: dark) {
  :host,
  body {
    --col-fg-default: var(--grey);
    --col-bg-default: var(--black);
    --col-bg-card: var(--light-black);
    --col-gradient: var(--gradient-neon-blue-green);
    --col-gradient-fallback: var(--neon-blue);
    --col-shadow: var(--white);
    --col-img-filter: grayscale(75%);
    --col-fg-primary: var(--neon-blue);
    --col-fg-secondary: var(--neon-green);
  }
}


body {
  background-color: rgba(var(--col-bg-default));
  color: rgba(var(--col-fg-default));
  &.background-transition {
    transition: background-color 0.5s ease;
  }
  &:before {
    content: '';
    background: conic-gradient(from 180deg at 50% 50%, rgb(var(--col-fg-primary)) 0deg,rgb(var(--col-fg-secondary)) 180deg);
    width: 100%;
    height: 50px;
    mix-blend-mode: normal;
    filter: blur(200px);
    will-change: filter;
    position: absolute;
    top: 0;
    left: 0;
  }
}

blockquote {
  &:before {
    position: relative;
    left: -25px;
    top: 15px;
    content: open-quote;
    font-size: 3.5em;
    line-height: 0;
    display: block;
    width: 30px;
  }
  &:after {
    position: relative;
    left: calc(100% - 5px);
    content: close-quote;
    font-size: 3.5em;
    line-height: 0;
    display: block;
    width: 30px;
  } 
  &:hover:before, &:hover:after {
    animation-name: spin-with-skip;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
  }
}

dialog {
  width: 500px;
  max-width: 100%;
  &::backdrop {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .15);
    backdrop-filter: blur(3px);
    opacity: 0.5;
    cursor: pointer;
  }
  &:hover {
    cursor: pointer;
  }
}

pre {
  width: 100%;
  overflow-x: auto;
}

summary {
  cursor: pointer;
}
