@import './_fonts/_fondamento.scss';

body {
  font-family: helvetica, sans-serif;
}

abbr {
  text-decoration: unset;
}

blockquote {
  font-style: italic;
}

code {
  font-family: monospace !important;
  font-size: 16px;
  * {
    // within highlight js, unset so classes will be visible
    font-family: monospace !important;
    color: unset;
  }
}

.font-size {
  $sizes: (8, 10, 12, 14, 16, 18, 20, 24, 32);
  @each $i in $sizes {
    &-#{$i} {
      font-size: #{$i}px !important;
    }
  } 
}

.extra:first-letter {
  font-size: 175%;
}

.silly {
  @include font-fondamento;
}

.gradient {
  background-color: var(--col-gradient-fallback);
  background: var(--col-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
