@import "./_variables.scss";
@import "./_fonts/_acme.scss";
@import "./_flex.scss";
@import "./_keyframes.scss";
@import "./_spacing.scss";
@import "./_theme.scss";
@import "./_typography.scss";
@import "./_utilities.scss";

body {
  height: fit-content;
  margin: 0;
  padding: var(--dp);
  overflow-x: hidden;
  overflow-y: auto;
  width: calc(100vw - (var(--dp) * 2));
  @media only screen and (min-width: 600px) {
    width: calc(100vw - 20%);
    padding-left: 10%;
    padding-right: 10%;
  }
  @media only screen and (min-width: 800px) {
    width: calc(100vw - 30%);
    padding-left: 15%;
    padding-right: 15%;
  }
  @media only screen and (min-width: 1000px) {
    width: calc(100vw - 40%);
    padding-left: 20%;
    padding-right: 20%;
  }
  @media only screen and (min-width: 1200px) {
    width: calc(100vw - 50%);
    padding-left: 25%;
    padding-right: 25%;
  }
}

a {
  @include font-acme;
  color: rgb(var(--col-fg-secondary));
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    font-size: 24px;
  }
}

[htmlCommentToggle] {
  font-weight: bold;
  font-size: 24px;
  animation: twitchy var(--animation-twitchy-duration) ease-in-out forwards infinite;
  &:hover {
    cursor: context-menu;
  }
}

[htmlCommentRevealed] {
  font-style: italic;
  &:hover {
    cursor: pointer;
  }
}

[htmlCommentRevealed], [htmlCommentToggle] {
  color: rgb(var(--col-fg-secondary));
}
