@import "./_variables.scss";
@import './_alpha.scss';
@import './_animation.scss';
@import './_card.scss';
@import './_elements.scss';
@import "./_flex.scss";
@import "./_keyframes.scss";
@import './_shadows.scss';
@import "./_spacing.scss";
@import "./_theme.scss";
@import "./_typography.scss";
@import "./_utilities.scss";

body {
  @include alpha;
  --body-border-side: var(--dp);
  --body-border-sides: calc(var(--body-border-side) * 2);
  --body-padding-side: calc(var(--dp) * 2);
  --body-padding-sides: calc(var(--body-padding-side) * 2);
  height: fit-content;
  margin: 0;
  padding: var(--dp) var(--body-padding-side);
  overflow-x: hidden;
  overflow-y: auto;
  border-image: linear-gradient(0deg, rgba(var(--col-bg-opposite),0.05),rgba(var(--col-bg-opposite),0), rgba(var(--col-bg-opposite),0));
  border-image-slice: 1;
  border-style: solid;
  border-width: 0 var(--body-border-side); 
  width: calc(100vw - var(--body-boder-sides) - var(--body-padding-sides));
  @media only screen and (min-width: 600px) {
    --body-border-side: 10vw;
  }
  @media only screen and (min-width: 800px) {
    --body-border-side: 15vw;
  }
  @media only screen and (min-width: 1000px) {
    --body-border-side: 20vw;
  }
  @media only screen and (min-width: 1200px) {
    --body-border-side: 25vw;
  }
}
