@import "./theme.scss";
@import "./typography.scss";
@import "./variables.scss";

body {
  height: calc(100vh - var(--dp));
  width: calc(100vw - 50%);
  margin: 0;
  padding-top: var(--dp);
  padding-left: 25%;
  padding-right: 25%;
  overflow-x: hidden;
  overflow-y: auto;
}

@media only screen and (max-width: 600px) {
  body {
    width: calc(100vw - (var(--dp) * 2));
    padding-left: var(--dp);
    padding-right: var(--dp);
  }
}

article {
  margin-bottom: 32px;
}

.darkmode-toggle__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.carousel__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  me-carousel {
    max-width: 100%;
  }
}
