@import "./theme.scss";
@import "./typography.scss";
@import "./variables.scss";

body {
  height: calc(100vh - var(--dp));
  width: calc(100vw - 50%);
  margin: 0;
  padding-top: var(--dp);
  padding-left: 25%;
  padding-right: 25%;
}

@media only screen and (max-width: 600px) {
  body {
    width: calc(100vw - (var(--dp) * 2));
    padding-left: var(--dp);
    padding-right: var(--dp);
  }
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

.gradient {
  background-color: var(--col-gradient-fallback);
  background: var(--col-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.DarkmodeToggle__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
