@import './base.scss';

.darkmode-toggle__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.carousel__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  me-carousel {
    max-width: 100%;
  }
}
