@import "./_variables.scss";
@import "./_fonts/_acme.scss";
@import "./_fonts/_fondamento.scss";

@import "./_keyframes.scss";
@import "./_theme.scss";
@import "./_typography.scss";

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}

#root {
  max-width: 100%;
}
