@media (prefers-color-scheme: dark) {
  :host,
  body {
    --col-fg-default: var(--grey);
    --col-bg-default: var(--black);
    --col-gradient: var(--gradient-neon-blue-green);
    --col-gradient-fallback: var(--neon-blue);
    --col-shadow: var(--white);
    --col-img-filter: grayscale(75%);
  }
}

@media (prefers-color-scheme: light) {
  :host,
  body {
    --col-fg-default: var(--dark-grey);
    --col-bg-default: var(--white);
    --col-gradient: var(--gradient-purple-orange);
    --col-gradient-fallback: var(--purple);
    --col-shadow: var(--light-grey);
    --col-img-filter: sepia(75%);
  }
}

body.light-mode {
  --col-fg-default: var(--dark-grey);
  --col-bg-default: var(--white);
  --col-gradient: var(--gradient-purple-orange);
  --col-gradient-fallback: var(--purple);
  --col-shadow: var(--light-grey);
  --col-img-filter: sepia(75%);
}

body.dark-mode {
  --col-fg-default: var(--grey);
  --col-bg-default: var(--black);
  --col-gradient: var(--gradient-neon-blue-green);
  --col-gradient-fallback: var(--neon-blue);
  --col-shadow: var(--white);
  --col-img-filter: grayscale(75%);
}

body.background-transition {
  transition: background-color 0.5s ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span,
code,
button,
abbr {
  color: rgba(var(--col-fg-default));
}

body {
  background-color: rgba(var(--col-bg-default));
}
