h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span,
code,
button,
abbr {
  font-family: helvetica, sans-serif;
}

abbr {
  text-decoration: unset;
}

.extra:first-letter {
  font-size: 175%;
}

.silly {
  font-family: "Brush Script MT", cursive;
}

.gradient {
  background-color: var(--col-gradient-fallback);
  background: var(--col-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
