h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span,
code,
button,
abbr,
small {
  font-family: helvetica, sans-serif;
}

abbr {
  text-decoration: unset;
}

blockquote {
  font-style: italic;
  margin-top: 24px;
  &:before {
    position: relative;
    left: -25px;
    top: 15px;
    content: open-quote;
    font-size: 3.5em;
    line-height: 0;
    display: block;
    width: 30px;
  }
  &:after {
    position: relative;
    left: calc(100% - 5px);
    content: close-quote;
    font-size: 3.5em;
    line-height: 0;
    display: block;
    width: 30px;
  } 
  &:hover:before, &:hover:after {
    animation-name: spin-with-skip;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
  }
}

.extra:first-letter {
  font-size: 175%;
}

.silly {
  font-family: "Brush Script MT", cursive;
}

.gradient {
  background-color: var(--col-gradient-fallback);
  background: var(--col-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
